@import url("/composants/header.css");
:root {
    --html-orange: #E34F26;
    --html-light-orange: #EF652A;
    --html-white: #FFFFFF;
    --html-dark: #222222;
    --js-yellow: #F7DF1E;
    --js-dark: #323330;
    --gold: #FFD700;
    --css-blue: #264DE4;
    --css-light-blue: #2965F1;
    --css-white: #FFFFFF;
    --css-dark: #1A1A1A;}
    code {
      background: var(--html-dark);
      padding: 2px 4px;
      border-radius: 4px;
      font-family: monospace;
      color:#f4f4f4;
    }
    pre {
      background: var(--html-dark);
      padding: 0.5rem;
      border-radius: 4px;
      overflow-x: auto;
      color:#f4f4f4;
      width: 100%;
    }
   
    